@for $i from 0 to 50{
    .br-#{$i} {
        border-radius: #{$i}px !important;
    }
}
@for $i from 1 through 700 {
    .h-#{$i}px {
        height: #{$i}px !important;
    }
    .w-#{$i}px {
        width: #{$i}px !important;
    }
    .max-h#{$i} {
        max-height: #{$i}px !important;
    }
    .max-w#{$i} {
        max-width: #{$i}px !important;
    }
    .min-h#{$i} {
        min-height: #{$i}px !important;
    }
    .min-w#{$i} {
        min-width: #{$i}px !important;
    }
    .h-#{$i}p {
        height: #{$i}#{"%"} !important;
    }
    .w-#{$i}p {
        width: #{$i}#{"%"} !important;
    }
    .min-h-#{$i}p {
        min-height: #{$i}#{"%"} !important;
    }
    .min-w-#{$i}p {
        min-width: #{$i}#{"%"} !important;
    }
    .min-h-#{$i}vh {
        min-height: #{$i}vh !important;
    }
    .min-w-#{$i}vw {
        min-width: #{$i}vw !important;
    }
    .my-#{$i}px {
      margin-top: #{$i}px !important;
      margin-bottom: #{$i}px !important;
    }
    .mx-#{$i}px {
      margin-left: #{$i}px !important;
      margin-right: #{$i}px !important;
    }
    .mt-#{$i}px {
      margin-top: #{$i}px !important;
    }
    .mb-#{$i}px {
      margin-bottom: #{$i}px !important;
    }
    .pdy-#{$i} {
      padding-top: #{$i}px !important;
      padding-bottom: #{$i}px !important;
    }
    .pdx-#{$i} {
      padding-left: #{$i}px !important;
      padding-right: #{$i}px !important;
    }
    .pdr-#{$i} {
      padding-right: #{$i}px !important;
    }
    .pdl-#{$i} {
      padding-left: #{$i}px !important;
    }
    .pdb-#{$i} {
      padding-bottom: #{$i}px !important;
    }
    .br-#{$i} { 
      border-radius: #{$i}px !important;
    }
    .pd-#{$i} { 
      padding: #{$i}px !important;
    }

    .h-#{$i}vh{
      height: #{$i}vh !important;
    }

    .w-#{$i}vw{
      width: #{$i}vw !important;
    }

    @media screen and (max-width: #{$i}px) {
        .w-#{$i}px {
          width: calc(100vw - 20px) !important;
        }
      }
  }





  @for $i from 0 through 90 {
    .fs-#{$i} {
        font-size: #{$i}px !important;
    }
    .gap-#{$i}px {
        gap: #{$i}px;
    }
}

.border-card{
    border-color: #252525 !important;
}
.border-1{
    border-width: 1px;
}

.bg-1{
    background-color: $bg-1;
}
.text-amber, .amber{
    color: $amber
}
@for $i from 1 through 9{
    .fw-#{$i}{
        font-weight: $i * 100 !important;
    }
}

