
ion-thumbnail{
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    display: flex;

}

.dropdown{
    *{
        white-space: nowrap;
        text-transform: ellipsis;
        overflow-x: hidden;
    }
}

ion-popover{
    --width: auto,
    &::part(backdrop) {
    background-color: rgb(165, 165, 165);
  }}



  ion-action-sheet.tu .action-sheet-button,
  ion-action-sheet.tu .action-sheet-button.ion-focused {
    color: hsl(var(--bc) / .8);
    height: 50px;
  }

  @media (any-hover: hover) {
    ion-action-sheet.tu .action-sheet-button:hover {
      color: #000000;
    }
  }

  ion-action-sheet.tu ion-backdrop {
    opacity: 0.6;
  }

  .bg-base-100{
    --background: hsl(var(--b1) / var(--tw-bg-opacity))
  }
  .m-block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ion-modal{
    &.h-auto{
    --height: auto
    }
  }

  .ion-bg-primary{
    background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
  .ion-bg-secondary{
    background: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
  }
  .ion-bg-success{
    background: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  .ion-bg-dark{
    background: var(--ion-color-dark);
    color: var(--ion-color-dark-contrast);
  }
  .ion-bg-warning{
    background: var(--ion-color-warning);
    color: var(--ion-color-warning-contrast);
  }
  .ion-bg-danger{
    background: var(--ion-color-danger);
    color: var(--ion-color-danger-contrast);
  }
  .ion-bg-medium{
    background: var(--ion-color-medium);
    color: var(--ion-color-medium-contrast);
  }
  .ion-primary{
    color: var(--ion-color-primary) !important;
    
    *{color: var(--ion-color-primary) !important;
    }
    //color: var(--ion-color-primary-contrast);
  }
  .ion-secondary{
    color: var(--ion-color-secondary) !important;
    
    *{color: var(--ion-color-secondary) !important;
    }
    //color: var(--ion-color-secondary-contrast);
  }
  .ion-success{
    color: var(--ion-color-success) !important;
    
    *{color: var(--ion-color-success) !important;
    }
    //color: var(--ion-color-success-contrast);
  }
  .ion-warning{
    color: var(--ion-color-warning) !important;
    
    *{color: var(--ion-color-warning) !important;
    }
    //color: var(--ion-color-warning-contrast);
  }
  .ion-danger{
    color: var(--ion-color-danger) !important;
    
    *{color: var(--ion-color-danger) !important;
    }
    //color: var(--ion-color-danger-contrast);
  }
  .ion-medium{
    color: var(--ion-color-medium) !important;
    
    *{color: var(--ion-color-medium) !important;
    }
    //color: var(--ion-color-medium-contrast);
  }
  ion-searchbar.tu {
    padding: 0;
    --box-shadow: none;
    --background: none
}

i.fi{
    line-height: 0;
}
.alert-button{
    color: rgb(17, 17, 17) !important;
    &.alert-button-role-cancel{
        color: rgba(17,17, 17, .7) !important;
    }
}