@import "./colors";
@import "./classes";
@import "./ion";
@import "@flaticon/flaticon-uicons/css/all/all";
@import "@icon/simple-line-icons/simple-line-icons.css";
@font-face {
    font-family: Pacifico;
    src: url("/assets/fonts/Pacifico/Pacifico-Regular.ttf");
}

/* Poppins */
@font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Regular.ttf");
  }
  
  @font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-Bold.ttf");
    font-weight: 700;
    font-style: bold;
  }
  
  @font-face {
    font-family: Poppins;
    src: url("/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
    font-weight: 800;
    font-style: "extra-bold";
  }

  
/* INCLUSEIVE SANS */
@font-face {
    font-family: InclusiveSans;
    src: url("/assets/fonts/InclusiveSans/InclusiveSans-Regular.ttf");
}

:root, :host{
    --background: hsl(var(--b1));
    --ion-background-color: hsl(var(--b2));
    --ion-color-shade: rgba(40,40,40,.3);
    --ion-text-color: var(--surface-900);
    --ion-font-family: 'InclusiveSans', sans-serif;
    --ion-toolbar-color: rgba(10,10,10, .7);
    --amber: $amber;
    --ion-color-primary: hsl(var(--p));/// hsl(var(--p) / var(--tw-bg-opacity));// var(--primary-color);
    --ion-color-primary-rgb: 249, 215, 47;
    
    --ion-tab-bar-background: hsl(var(--b1));
    /* --ion-text-color:rgba(255, 255, 255, 0.87); */
}
$v: rgb(20, 184, 166);
$h: rgb(249, 215, 47);
html, body{
    background-color: hsl(var(--b2)) !important;
    font-family: DMSans, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: #323232 !important;
    font-family: Poppins !important;
    font-weight: 700 ;
    margin: 2px 0;
    line-height: .9rem !important;
}
.p{
    color: var(--surface-900);
}
i.fi {
    font-size: 24px;
}

.font-pacifico {
    font-family: Pacifico, sans-serif !important;
}
.font-poppins {
    font-family: Poppins, sans-serif !important;
}
.font-dmsans {
    font-family: DMSans, sans-serif !important;
}
.font-body{
    font-family: var(--ion-font-family) !important;
}

.rounded {
    input, .searchbar-input {
        border-radius: 100px;
    }
}

.scroll-x{
    overflow-x: scroll;
}
.orange{
    color: $orange;
}
.img-contain{
    object-fit: contain;
}


  .p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
    color: $amber !important;
  }

  .helper-text{
    @apply mt-0 text-sm text-gray-500 dark:text-gray-400;
  }

  
  /* IONIC */

ion-thumbnail {
    --size: 65px;
    background-color: var(--surface-50);
img{
    object-fit: contain;
}
  }

  ion-button{
    height: 45px;
    font-weight: 700;
  }
  ion-toast{

    --background: #f4f4fa;
    
    &.danger{
        --color: var(--ion-color-danger) !important
    }
    &:not(.danger, .success){
        color: var(--ion-text-color);
    }
}

.image-area {
    height: calc(35vh + 80px);
    overflow: hidden;

    .img-wrapper {
        flex: auto;
        overflow: hidden;
        position: relative;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    img {
        object-fit: contain;
        height: 100%;
    }

    .thumbnails {
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
    }
}

:root {
    --ion-toolbar-background: var(--bg-base-100);
}

.m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.linethrough{
    background-color: transparent;
   // background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.48, transparent), color-stop(.5, #000), color-stop(.52, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, #f50000 50%, transparent 52%, transparent 100%);
}