ion-card-title{
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.678) 
}
ion-card-subtitle{
    font-size: 10px
}
.img-area{
    position: relative
}
.cart-btn{
   // background-color: rgba(0, 0, 0, 0.534);
   // width: 35px;
    //height: 35px;
    position: absolute;
    bottom: 10px;
    right: 10px 
}
$content-padding: 6px;
.card-content-ios, ion-card-header{
    -webkit-padding-start: $content-padding;
    padding-inline-start: $content-padding;
    -webkit-padding-end: $content-padding;
    padding-inline-end: $content-padding;
}
ion-card{
  //  width: calc(40%);
    //   background-color: #f7f1ed;
    &:hover{
        //opacity: .8
    }
}